[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/grizlette
[access "refs/for/refs/*"]
	read = group user/grizlette
	push = group user/grizlette
	label-Code-Review = -2..+2 group user/grizlette
	label-Verified = -1..+1 group user/grizlette
	rebase = group user/grizlette
	removeReviewer = group user/grizlette
	submit = group user/grizlette
[access "refs/heads/*"]
	read = group user/grizlette
	create = group user/grizlette
	push = +force group user/grizlette
	pushMerge = group user/grizlette
[access "refs/tags/*"]
	push = +force group user/grizlette
	pushTag = group user/grizlette
	pushSignedTag = group user/grizlette
